wheel
dill
tqdm
numpy
pandas
matplotlib
opencv-python
opencv-contrib-python
opencv-python-headless
tator
ffmpeg-python
ultralytics
supervision
sahi
autodistill
autodistill-yolov8
autodistill_grounding_dino
gradio
scikit-image