wheel
dill
tqdm
numpy
pandas
scipy
gooey
gradio
matplotlib
opencv-python
opencv-contrib-python
opencv-python-headless
scikit_image
tator
ffmpeg-python
roboflow==1.1.33
supervision==0.21.0
ultralytics==8.2.38
sahi
autodistill==0.1.26
autodistill-grounded-sam
autodistill_grounding_dino