wheel
numpy
pandas
scipy
scikit_learn
matplotlib
Pillow
opencv-python
opencv-contrib-python
opencv-python-headless
scikit_image
tator
ffmpeg-python
supervision
ultralytics
sahi
tqdm
autodistill
autodistill-grounded-sam
autodistill_grounding_dino
autodistill-yolov8
